@page "/"
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Http.Extensions
@using MisteryBlazor.Pages.ContextMenu
@using MongoDB.Driver
<PageTitle>Index</PageTitle>

<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
    <error statusCode="403" redirect="NoAccess.htm" />
    <error statusCode="404" redirect="FileNotFound.htm" />
</customErrors>
<h1>Hello, world!</h1>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{

}