@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@imoprt url('_content/MudBlazor/MudBlazor.min.js');

.room {
    display: flex;
}
::-webkit-scrollbar {
    display: none
}

.room-page-MainLayout {
    display: flex;
    height: 100%;
}

.room-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: #262829;
}

.room-sidebar-alert {
    color: gray;
    font-size: 15px;
    padding: 10px;
    padding-top: 20px;
    font-style: italic;
}
.room-sidebar-alert-text {
    color: gray;
    font-size: 12px;
    padding-left: 10px;
}
.room-sidebar-top {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
           align-items: center;
    padding: 11px;
    padding-bottom: -5px;
    color: white;
}

.room-sidebar-channels {
    padding: 15px;
    padding-top: 5px;
}
.room-sidebar-category {
    flex: 1;
}
.room-sidebar-channels-main-context-menu {
    display: flex;
    align-items: stretch;
    flex: 1;
    background: transparent;
    color: transparent;
    flex-shrink: 0;
    align-items: flex-end;
}

.room-sidebar-channel-text-name {
    margin-top: 2px;
    font-size: large;
}

.room-sidebar-channels-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: -1px;
    color: gray;
}

.room-sidebar-top-text {
    padding-top: 4px;
    padding-left: 5px;
}

.room-sidebar-top-text-id {
    margin-top: -2px;
    margin-left: 5px;
    font-size: 12px;
    color: gray;
}

.room-sidebar-header {
    display: flex;
    align-items: center;
}

.room-sidebar-expandchannel {
    padding-bottom: 2px; 
}

.room-sidebar-channels-text-channels {
    margin-left: 5px;
}

.room-sidebar-addchannel {
    margin-right: 12px;
    cursor: pointer;
}

.room-sidebar-addchannel:hover {
    color: #B3B3B3;
}

.room-sidebar-channel:hover {
    color: #CCCCCC;
    background-color: #393A3C;
}

.room-sidebar-channel {
    display: flex;
    margin: 4px;
    padding-left: 19px;
    align-items: center;
    background: transparent;
    color: gray;
    cursor: pointer;
}
.room-sidebar-category-scroll {
    height:78.5vh;
    overflow: scroll;
}
.room-sidebar-channel-icon {
    color: white;
    align-items: center;
    margin: 5px;
}
.room-header-left-icon {
    color: white;
    align-items: center;
    margin: 10px;
}

.room-sidebar-voice, .room-sidebar-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.room-sidebar-voice-VoiceInfo {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.room-sidebar-voice-voiceico {
    margin-left: 4px;
    color: #22A848;
}

.room-sidebar-voice-VoiceInfo-text-VoiceConnected {
    padding-top: 3px;
    font-size: x-small;
    color: #22A848;
}

.room-sidebar-voice-VoiceInfo-text-stream {
    font-size: x-small;
}

.room-sidebar-voice-voiceInfoIco, .room-sidebar-voice-icons, .room-sidebar-profile-icons {
    display: flex;
    align-items: center;
    color: gray;
}

.room-sidebar-voice-icons, room-sidebar-profile-icons {
    margin-right: 10px;
}

.room-sidebar-voice-icons-OutlinedInfo {
    padding: 10px;
}

.room-sidebar-profile-info-name {
    color: white;

}

.room-sidebar-profile-icons-mic, .room-sidebar-profile-icons-headset, .room-sidebar-profile-icons-setting {
    padding: 5px;
}

.room-sidebar-profile-info {
    flex: 1;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.room-sidebar-profile-avatar {
    margin-left: 5px;
    margin-top: 8px;
}

.room-sidebar-profile-info-id {
    margin-top: -0.1%;
    margin-left: -2px;
    font-size: x-small;
    color: gray;
}

.room-header {
    display: flex;
    padding: 9px;
    justify-content: space-between;
    align-items: center;
    color: gray;
    border: #222222;
}

.room-header-left {
    display: flex;
    align-items: center;
}

.room-header-left-text {
    padding-top: 2px;
    color: #CCCCCC;
}

.room-header-left-icon {
    color: #CCCCCC;
}

.room-header-right {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
}
.room-header-search {
    color: gray;
    background-color: #222222;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;

}
.room-header-right-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: gray;
}

.room-header-right-ico-notification, .room-header-right-ico-locationedit, .room-header-right-options, .room-header-right-ico-peoplealt {
    padding: 5px;
    cursor: pointer;
}
.room-sidebar-profile-icons-setting:hover, .room-header-right-options:hover, .room-header-right-ico-notification:hover, .room-header-right-ico-locationedit:hover, .room-header-right-ico-peoplealt:hover {
    color: #CCCCCC;
}

.room-page-MainLayout-HeaderBar {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.room-header-right-search-input {
    background: transparent;
    display: flex;
    align-items: center;
    color: #CCCCCC;
    outline-width: 0px;
    border: none;
}

.room-header-right-search-ico {
    padding: 5px;
}

.room-chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #2D2F33;
    height: 100vh;
}

.room-chat-input-icons {
    display: flex;
    align-items: center;
}

.room-chat-input-form {
    color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 10px;
    margin: 20px;
    border-top: 1px solid #484A4D;
    background-color: #37393B;
}

.room-chat-input-icon-plus, .room-chat-input-form-icons-cardgiftcard, .room-chat-input-form-icons-emoji, .room-chat-input-form-icons-gif, .room-chat-input-form-SubmitButton {
    padding: 5px;
}

.room-chat-messages {
    margin: 10px;
    flex: 1;
}

.room-chat-input-form-input > input {
    padding: 5px;
    margin-left: 5px;
    width: 100%;
    background: transparent;
    border: none;
    outline-width: 0;
    color: #CCCCCC;
    font-size: large;
}

.room-chat-input-form > form {
    flex: 1;
}

.room-chat-input-form-SubmitButton {
    display: none;
}

.room-chat-message {
    display: flex;
    align-content: center;
    padding: 20px;
    color: #CCCCCC
}

.room-message {
    margin-left: 20px;
}

.message-timestamp {
    color: gray;
    margin-left: 5px;
    font-size: x-small;
}

.single-message {
    margin-top: 3px;
}

.room-mainlayout-sidebar {
    display: flex;
    flex: 0.22;
    height: auto;
    width: auto;
}

.room-userbar {
    padding: 10px;
    margin-right: 0px;
}

.room-userbar-avatar {
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
}

.room-userbar-add-ico-plus {
    margin-left: 10px;
    margin-top: 9px;

}

.room-userbar-groups-func {
    padding-top: 5px;
    padding-bottom: 5px;
}

.room-userbargroup {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 5px;
    padding-bottom: 3px;
    filter: brightness(0.5);
}

.room-userbargroup-onclick {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 5px;
    padding-bottom: 3px;
    filter: brightness(1);
}

.room-userbargroup-avatar {
    filter: brightness(1);
}
.room-userbargroup:hover {
    animation-name: bright-ani;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    filter: brightness(0.8);
}

.room-userbargroup:not(:hover) {
    animation-name: reverse-bright-ani;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    filter: brightness(0.5);
}

.room-userbar-scroll {
    height: 88%;
    overflow: scroll;
}
.room-userbar-split {
}

.room-userbar-add-button {
    padding-top: 5px;
}

@keyframes bright-ani {
    from {
        filter: brightness(0.5);
    }

    to {
        filter: brightness(0.8);
    }
}
@keyframes reverse-bright-ani {
    from {
        filter: brightness(0.8);
    }

    to {
        filter: brightness(0.5);
    }
}
@keyframes colorchange-ani {
    from {
        color: #22C922;
        background-color: #37393B;
    }

    to {
        color: #FFFFFF;
        background-color: #22C922;
    }
}

.room-dialog {
    background: #262829;
}

.room-dialog-text {
    color: #ffffff;
}
