@using MudBlazor.Utilities
@using System.Security.Claims
@using System.Text
@using MisteryBlazor.Data.GroupsModel
@using MisteryBlazor.Services.DAL
@using MisteryBlazor.StringUtils
@inherits LayoutComponentBase
@inject GroupDataService gps;

<head>
    <link href="BlazorMaterialUI.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>

<MudDialogProvider/>
<MudSnackbarProvider/>
<MudThemeProvider DefaultScrollbar="false"
                  @bind-IsDarkMode="@_isDarkMode"
                  Theme="MisteryTheme"
                  />
<PageTitle>MisteryBlazor</PageTitle>
<div class="room-page-MainLayout">
    <div class="room-mainlayout-sidebar">
        <_RoomUserBar OnCurrectGroupChanged="gid => {SelectedGroupId=gid;}" userId=@userId groups="@groups"/>
        @{
            StringBuilder UserId = new();
            UserId.Append("# ").Append(userId);
            <_RoomSideBar group=@selectedGroup UserName=@userName userId=@UserId.ToString()/>
        }
    </div>
    <main class="room-page-MainLayout-HeaderBar">
        <_RoomHeaderBar/>
        <_RoomChat/>
    </main>
</div>
@code {
    private string userId { get; set; }
    private string userName { get; set; }
    private _RoomUserBar UserBar;

    [CascadingParameter] 
    private Task<AuthenticationState> authenticationState { get; set; }
    private AuthenticationState authState;

    private bool _isDarkMode = true;

    private Group selectedGroup;

    private int selectGroupId = 0;

    private int SelectedGroupId
    {
        set
        {
            selectGroupId = value;
            selectedGroup = gps.GetGroupById("RoomMain: Getting Group", value);
        }
    }


    private ClaimsPrincipal currectUser;
    private IList<Group> groups;

    protected override async Task OnInitializedAsync()
    {
        authState = await authenticationState;
        currectUser = authState.User;
        userId = currectUser.FindFirstValue(ClaimTypes.NameIdentifier);
        userName = currectUser.FindFirstValue(ClaimTypes.Name).ToStringFromASCIIByte();
        groups = await gps.GetGroupsFromUserAsync("RoomUserBar: Getting Groups.", userId);
    }

    MudTheme MisteryTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Dark = Colors.Shades.White,
            GrayDark = Colors.Shades.White,
            Primary = Colors.Green.Default,
            Secondary = Colors.Green.Default,
            Tertiary = Colors.Green.Default,
            AppbarBackground = Colors.Green.Default,
        },
        PaletteDark = new Palette()
        {
            Secondary = Colors.Grey.Darken4, 
            Primary = (MudColor) "#262829",
            TextPrimary = Colors.Grey.Lighten4,
            Tertiary = (MudColor) "#2D2F33",
            Background = (MudColor) "#262829",
            LinesInputs = Colors.Grey.Lighten4,
            LinesDefault = Colors.Grey.Lighten3,
            TextSecondary = Colors.Grey.Darken1,
            TextDisabled = Colors.Grey.Default,
            ActionDefault= Colors.Grey.Default,
            ActionDisabled= "#ABABAB"

        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}