@code {

}

<div class="room-userbar">
    <div class="room-userbar-avatar">
        <MudAvatar Size="Size.Large">F</MudAvatar>
    </div>
    <span class="room-userbar-split">
        <MudDivider DividerType="DividerType.Middle"></MudDivider>
    </span>
    <div class="room-userbar-groups-func">
        <_RoomUserBarGroup/>
        <_RoomUserBarGroup/>
        <_RoomUserBarGroup/>
    </div>
    <span class="room-userbar-split">
        <MudDivider DividerType="DividerType.Middle"></MudDivider>
    </span>
    <div class="room-userbar-add-button">
        <div class="room-userbar-add">
            <MudIcon Icon="@Icons.Filled.PostAdd" Size="Size.Large" class="room-userbar-add-ico-plus"></MudIcon>
        </div>
    </div>

</div>