@code {

}

<div class="room-userbar">
    <div class="room-userbar-avatar">
        <MudAvatar Size="Size.Large">F</MudAvatar>
    </div>
    <div class="room-userbar-groups-func">
        <_RoomUserBarGroup/>
        <_RoomUserBarGroup/>
        <_RoomUserBarGroup/>
    </div>
</div>