@code {

}
<div class="room-chat-message">
    <span class="root-chat-avatar">       
        <MudAvatar Size="Size.Medium"></MudAvatar>
    </span>
    <div class="room-message">
        <div class="room-message-info fs-6 fw-bold">
            MESS
            <span class="message-timestamp fs-7 fw-normal">2019/XX/XX XX:XX:XX</span>
        </div>
        <div class="single-message fs-7">
            123
        </div>
    </div>
</div>