@code {

}
<div class="room-sidebar-channel">
    <span class="room-sidebar-channel-icon">
        <MudIcon Size="Size.Small" Icon="@Icons.Outlined.Circle"/>
    </span>
    <div class="room-sidebar-channel-text-name fs-5">
        Test
    </div>
</div>