@page
@model MisteryBlazor.Pages.Shared.Room._RoomSideBarModel
@{
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <!-- Required MDC Web JavaScript library -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script>
        mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
        mdc.list.MDCList.attachTo(document.querySelector('.mdc-list'));
    </script>
</head>


<div class="room-sidebar">
    <h2>sidebar</h2>
    <div class="room-sidebar-top">
        <h3>top</h3>

    </div>
</div>