<div class="room-sidebar-channel">
    <span class="room-sidebar-channel-icon">
        <MudIcon Size="Size.Small" Icon="@Icons.Outlined.Circle" style="width: 15px; height: 15px;"/>
    </span>
    <div class="room-sidebar-channel-text-name">
        Channel
    </div>
</div>
@code {

}
